@model TestMVC5.Models.Customers

@{
    ViewBag.Title = "DetailsCustomer";
}


<h1 style="border: 3px solid black">DetailsCustomer</h1>
<hr /><hr /><hr />
<strong>@Html.DisplayFor(m => m.FirstName)</strong>
<hr />
<strong>@Html.DisplayFor(m => m.LastName)</strong>
<hr />
<strong>@Html.DisplayFor(m => m.Age)</strong>
<hr />
<strong>@Html.DisplayFor(m => m.Invoice)</strong>
<hr />
<strong>@Html.DisplayFor(m => m.CustomerOpinion)</strong>
<hr />
